.home-search-container {
  min-height: 350px;
  background-color: #eee;
}

.app-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .home-search-container {
    min-height: auto;
    padding: 8px;
    padding-bottom: 15px;
  }
  .app-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .app-logo-container img {
    width: 50px;
    height: auto;
  }
  .app-logo-container h1 {
    font-size: 42px;
    flex: 1;
    margin-left: 15px;
  }
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchbar {
  position: relative;
  margin-top: 15px;
}
.searchbar svg {
  position: absolute;
  margin: 14px 7px;
}
.searchbar .clear-btn {
  position: absolute;
  left: 92%;
  bottom: 0;
  cursor: pointer;
  z-index: 2;
}
.breed-autocomplete input,
.breed-autocomplete input:focus,
.breed-autocomplete input:hover {
  border: 2px solid #535353;
  width: 500px;
  background-color: transparent;
  font-weight: 500;
  padding: 12px;
  padding-left: 30px;
  font-size: 16px;
}

@media (max-width: 600px) {
  .breed-autocomplete input,
  .breed-autocomplete input:focus,
  .breed-autocomplete input:hover {
    width: 360px;
  }
}

.thumbnail-container {
  width: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  padding: 5px;
  height: 250px;
  margin-top: 15px;
  z-index: 2;
}

.thumbnail-container img {
  width: 100%;
  object-position: center;
  object-fit: cover;
  overflow: hidden;
}

.show-list {
  margin-top: 8px;
}

.filter-keywords-container {
  margin-bottom: 30px;
}

.filter-title {
  margin-bottom: 10px;
  margin-top: 20px;
}

.keyword {
  padding: 10px 15px;
  word-wrap: none;
  border-radius: 50px;
  margin-right: 10px;
}
.keyword.selected {
  background-color: #535353;
  color: white;
  font-weight: 400;
}

.fav-btn {
  display: flex;
  align-items: center;
}

.fav-btn svg {
  margin-right: 6px;
}
